.codeflow-list-item {

    display: flex;
    flex-direction: row;
    flex: 1;
    align-items: center;
    min-height: 3.2rem;
    font-weight: 400;
    color: $color-text-weak;
    padding: 0 $padding-md;

    &__body {
        flex: 1;
    }

    &--selected {
        background-color: $color-hover;
        color: $color-text;
    }

    &:hover {
        background-color: $color-hover;
        color: $color-text;
        cursor: pointer;
    }

    &--primary {
        @include list-item-type($color-primary, $color-primary-invert);
    }

    &--secondary {
        @include list-item-type($color-secondary, $color-secondary-invert);
    }

    &--danger {
        @include list-item-type($color-danger, $color-danger-invert);
    }


}