.codeflow-list-item {

    display: flex;
    flex-direction: row;
    flex: 1;
    align-items: center;
    min-height: 3.2rem;
    font-weight: 400;
    color: $color-text-secondary;
    padding: 0 $padding-md;

    &__body {
        flex: 1;
    }

    &--selected {
        background-color: $color-hover;
        color: $color-text-primary;
    }

    &:hover {
        background-color: $color-hover;
        color: $color-text-default;
        cursor: pointer;
    }

    &--primary {

        margin: 0 $margin-sm;
        padding-top: $padding-sm;
        padding-bottom: $padding-sm;
        border-radius: 2px;
        
        &:hover, &.codeflow-list-item--selected {
            box-shadow: 0 5px 11px 0 rgba(0,0,0,.18), 0 4px 15px 0 rgba(0,0,0,.15);
            background-color: $color-primary;
            border-color: $color-primary;
            color: $color-white;
        }

    }

    &--secondary {

        margin: 0 $margin-sm;
        padding-top: $padding-sm;
        padding-bottom: $padding-sm;
        border-radius: 2px;
        
        &:hover, &.codeflow-list-item--selected {
            box-shadow: 0 5px 11px 0 rgba(0,0,0,.18), 0 4px 15px 0 rgba(0,0,0,.15);
            background-color: $color-secondary;
            border-color: $color-secondary;
            color: $color-white;
        }

    }

    &--danger {

        margin: 0 $margin-sm;
        padding-top: $padding-sm;
        padding-bottom: $padding-sm;
        border-radius: 2px;
        
        &:hover, &.codeflow-list-item--selected {
            box-shadow: 0 5px 11px 0 rgba(0,0,0,.18), 0 4px 15px 0 rgba(0,0,0,.15);
            background-color: $color-danger;
            border-color: $color-danger;
            color: $color-white;
        }

    }


}