.codeflow-widget {

    background-color: $color-background;
    box-shadow: 0 2px 5px 0 $color-shadow, 0 2px 10px 0 $color-shadow-weak;
    border-radius: 5px;
    padding: $padding-sm;
    min-height: 7rem;
    margin-top: 2rem;
    width: 25rem;

    &__title {

        display: flex;
        flex-direction: row;

        &-icon {
            font-size: 2rem;
            color: white;
            border-radius: 4px;
            margin: -30px 10px 0 0;
            padding: 8px 16px;
            width: 8rem;
            height: 8rem;
            position: relative;
            background-color: #4285f4;
            box-shadow: 0 8px 17px 0 $color-shadow-weak, 0 6px 20px 0 $color-shadow-weak;
            display: flex;
            align-items: center;
            justify-content: center;

            &--primary {
                background-color: $color-primary;
            }
            &--secondary {
                background-color: $color-secondary;
            }
            &--danger {
                background-color:$color-danger;
            }
        }

        &-text {

            display: flex;
            flex: 1;
            flex-direction: column;
            justify-content: space-between;

            &--label {
                text-align: right;
            }

            &--value {
                text-align: right;
            }
        }

    }

    &__content {

    }
}