.codeflow-material-input {
    width: 100%;
    border: none !important;
    padding: $padding-sm 0 !important;
    border-bottom: solid 1px $color-border !important;

    &:focus {
        box-shadow: none;
        outline: none;
        border-width: 2px;
        border-color: $color-primary-medium !important;
    }
}