$normal-padding: 1.5rem;

.codeflow-overlay {
    background-color: rgba(000, 000, 000, 0.65);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.codeflow-modal {
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    left: 50%;
    top: 200px;
    transform: translateX(-50%);
    background-color: #fff;
    position: absolute;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 45px, rgba(0, 0, 0, 0.22) 0px 10px 18px;
    border-radius: 2px;
    border-color: transparent;

    &:focus {
        outline: none;
    }

    &--extra-padding {
        padding-right: $normal-padding;
        padding-left: $normal-padding;
    }

    &__title {

        position: relative;
        margin-top: -2rem;
        margin-bottom: 3rem;
        padding: $normal-padding;
        width: 100%;
        height: 6rem;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: $size-title-font;
        font-weight: 700;
        color: #fff;

        box-shadow: 0 5px 11px 0 rgba(0,0,0,.18), 0 4px 15px 0 rgba(0,0,0,.15);

        &--simple {
            margin-top: 0;
            margin-bottom: 1rem;
        }
        
        &--neutral {
            height: initial;
            margin: 0;
            background-color: transparent !important;
            color: $color-text-title;
            box-shadow: none;

            .codeflow-modal__title-close-button {
                color: $color-text-title;
            }
        }

        &--primary {
            background-color: $color-primary;
        }

        &--secondary {
            background-color: $color-secondary;            
        }

        &--danger {
            background-color: $color-danger;
        }

        &--hide {
            display: none !important;
        }
    }

    &__title-close-button {
        color: #fff;
        font-size: 1.5rem;
    }

    &__title-icon {
        margin-right: 0.8rem;
    }

    &__title-box {
        display: flex;
        flex-direction: row;
        flex: 1;
        align-items: center;
    }

    &__body {
        padding: $normal-padding;
        padding-top: 0;
        color: $color-text-default;
        overflow: auto;
        height: 100%;
        width: 100%;
    }

}


