.font-xs {
    font-size: $font-size-xs;
}
.font-sm {
    font-size: $font-size-sm;
}
.font-md {
    font-size: $font-size-md;
}
.font-lg {
    font-size: $font-size-lg;
}
.font-xl {
    font-size: $font-size-xl;
}