$padding-left: 2rem;
$grey-background-color: #f5f5f5;

.codeflow-list-master-detail {

    font-size: $font-size-md;

    display: flex;
    flex-direction: column;
    box-shadow: 0px 3px 1px -2px rgba(0,0,0,0.2), 0px 2px 2px 0px $color-shadow, 0px 1px 5px 0px $color-shadow-weak;

    &__title {
        height: 5.5rem;
        background-color: $grey-background-color;
        box-shadow: 0 -1px 0 $color-shadow-weak inset;
        padding-left: $padding-left;
        display: flex;
        align-items: center;
        color: $color-text-strong;
    }

    &__breadcrumb-button {
        font-size: $font-size-md;
        color: $color-text-weak;
    }

    &__breadcrumb-icon {
        font-size: $font-size-lg;
    }

    &__columns {
        display: flex;
        flex-direction: row;
    }

    &__column {
        display: flex;
        flex-direction: column;
        flex: 1;
        border-right: 1px solid #e0e0e0;
    }

    &__column-title {
        display: flex;
        align-items: center;
        background-color: $grey-background-color;
        box-shadow: 0 -1px 0 $color-shadow-weak inset;
        height: 6rem;
        color: $color-text;
    }

    &__column-text {
        display: flex;
        flex: 1;
        align-items: center;
    }

    &__icon-box {
        width: 4rem;
        text-align: right;
        font-size: $font-size-md;
        margin-right: 1.5rem;
    }

    &__column-title-trash {
        font-size: $font-size-md;
        margin-right: 0.5rem;
        color: $color-text;
    }

    &__column-list {
        overflow: auto;
        height: 100%;
    }

    &__column-add {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        padding: 0;
        height: 4.5rem;
        color: $color-primary;
        font-weight: 500;
        width: 100%;
        text-transform: uppercase;

        &:hover {
            background-color: $color-primary-light;
            color: $color-primary;
        }
    }

    &__column-item {
        padding-left: 5.5rem;
    }
}