.codeflow-loading-modal {
    display: flex;
    flex: 1;
    flex-direction: row;
    min-width: 20rem;

    &__spinner {
        width: 6rem;
    }

    &__text {
        display: flex;
        flex: 1;
        margin-top: 1rem;
        font-weight: 700;
    }
}