.codeflow-loading-modal {
   
    &__body {
        display: flex;
        flex-direction: row;
        flex: 1;
        align-items: center;

        min-width: 20rem;
        padding: 2rem !important;
    }

    &__spinner {
        width: 6rem;
    }

    &__text {
        display: flex;
        flex: 1;
        font-weight: 700;
    }
}