@import url("https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css");
.vc {
  display: flex;
  align-items: center; }

.hc {
  display: flex;
  justify-content: center; }

.color-weak {
  color: rgba(0, 0, 0, 0.54); }

.color-strong {
  color: #000; }

.color-invert {
  color: rgba(255, 255, 255, 0.87); }

.padding-xs {
  padding: 0.5rem; }

.padding-top-xs {
  padding-top: 0.5rem; }

.padding-right-xs {
  padding-right: 0.5rem; }

.padding-left-xs {
  padding-left: 0.5rem; }

.padding-bottom-xs {
  padding-bottom: 0.5rem; }

.margin-xs {
  margin: 0.5rem; }

.margin-top-xs {
  margin-top: 0.5rem; }

.margin-right-xs {
  margin-right: 0.5rem; }

.margin-left-xs {
  margin-left: 0.5rem; }

.margin-bottom-xs {
  margin-bottom: 0.5rem; }

.padding-sm {
  padding: 0.8rem; }

.padding-top-sm {
  padding-top: 0.8rem; }

.padding-right-sm {
  padding-right: 0.8rem; }

.padding-left-sm {
  padding-left: 0.8rem; }

.padding-bottom-sm {
  padding-bottom: 0.8rem; }

.margin-sm {
  margin: 0.8rem; }

.margin-top-sm {
  margin-top: 0.8rem; }

.margin-right-sm {
  margin-right: 0.8rem; }

.margin-left-sm {
  margin-left: 0.8rem; }

.margin-bottom-sm {
  margin-bottom: 0.8rem; }

.padding-md {
  padding: 1.5rem; }

.padding-top-md {
  padding-top: 1.5rem; }

.padding-right-md {
  padding-right: 1.5rem; }

.padding-left-md {
  padding-left: 1.5rem; }

.padding-bottom-md {
  padding-bottom: 1.5rem; }

.margin-md {
  margin: 1.5rem; }

.margin-top-md {
  margin-top: 1.5rem; }

.margin-right-md {
  margin-right: 1.5rem; }

.margin-left-md {
  margin-left: 1.5rem; }

.margin-bottom-md {
  margin-bottom: 1.5rem; }

.padding-lg {
  padding: 3rem; }

.padding-top-lg {
  padding-top: 3rem; }

.padding-right-lg {
  padding-right: 3rem; }

.padding-left-lg {
  padding-left: 3rem; }

.padding-bottom-lg {
  padding-bottom: 3rem; }

.margin-lg {
  margin: 3rem; }

.margin-top-lg {
  margin-top: 3rem; }

.margin-right-lg {
  margin-right: 3rem; }

.margin-left-lg {
  margin-left: 3rem; }

.margin-bottom-lg {
  margin-bottom: 3rem; }

.padding-xl {
  padding: 5rem; }

.padding-top-xl {
  padding-top: 5rem; }

.padding-right-xl {
  padding-right: 5rem; }

.padding-left-xl {
  padding-left: 5rem; }

.padding-bottom-xl {
  padding-bottom: 5rem; }

.margin-xl {
  margin: 5rem; }

.margin-top-xl {
  margin-top: 5rem; }

.margin-right-xl {
  margin-right: 5rem; }

.margin-left-xl {
  margin-left: 5rem; }

.margin-bottom-xl {
  margin-bottom: 5rem; }

.font-xs {
  font-size: 1rem; }

.font-sm {
  font-size: 1.2rem; }

.font-md {
  font-size: 1.6rem; }

.font-lg {
  font-size: 2.4rem; }

.font-xl {
  font-size: 3.2rem; }

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }

body {
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  font-size: 1.6rem;
  color: rgba(0, 0, 0, 0.87);
  background-color: #fff; }

.codeflow-alert {
  display: flex;
  flex: 1;
  flex-direction: row;
  min-width: 40rem; }
  .codeflow-alert__title {
    color: #000;
    font-size: 2.4rem;
    font-weight: 700; }
  .codeflow-alert__body {
    color: rgba(0, 0, 0, 0.87);
    font-weight: 500; }
  .codeflow-alert__footer {
    display: flex;
    flex-direction: row;
    flex: 1;
    justify-content: flex-end;
    align-items: center;
    margin-top: 3rem; }

.codeflow-button {
  display: inline-block;
  font-weight: 400;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  user-select: none;
  border: 1px solid transparent;
  padding: 0.4rem 0.8rem;
  border-radius: .25rem;
  -webkit-appearance: button;
  cursor: pointer;
  color: inherit;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12); }
  .codeflow-button:disabled {
    opacity: .65;
    cursor: not-allowed; }
  .codeflow-button:focus {
    outline: 0; }
  .codeflow-button--rounded {
    border-radius: 20px;
    height: 2.5rem;
    line-height: 1.3rem;
    padding-left: 1.5rem;
    padding-right: 1.5rem; }
  .codeflow-button--loading {
    height: 3rem; }
  .codeflow-button--circle {
    border-radius: 50%; }
  .codeflow-button--neutral {
    background-color: inherit;
    border-color: inherit;
    color: inherit; }
    .codeflow-button--neutral--outline {
      background-color: transparent;
      font-weight: 700;
      border-style: solid;
      border-width: 2px;
      border-color: inherit;
      color: inherit; }
    .codeflow-button--neutral--flat {
      background-color: transparent;
      color: inherit;
      border: none;
      box-shadow: none; }
    .codeflow-button--neutral--hover:hover {
      color: inherit;
      background-color: inherit;
      border-color: inherit;
      box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.16); }
  .codeflow-button--primary {
    background-color: #2a9699;
    border-color: #2a9699;
    color: #fff; }
    .codeflow-button--primary--outline {
      background-color: transparent;
      font-weight: 700;
      border-style: solid;
      border-width: 2px;
      border-color: #2a9699;
      color: #2a9699; }
    .codeflow-button--primary--flat {
      background-color: transparent;
      color: #2a9699;
      border: none;
      box-shadow: none; }
    .codeflow-button--primary--hover:active:not(:disabled) {
      box-shadow: 0 0 0 0.2rem rgba(42, 150, 153, 0.5); }
    .codeflow-button--primary--hover:hover {
      color: #fff;
      background-color: #2a9699;
      border-color: #2a9699;
      box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.16); }
  .codeflow-button--secondary {
    background-color: #868e96;
    border-color: #868e96;
    color: #fff; }
    .codeflow-button--secondary--outline {
      background-color: transparent;
      font-weight: 700;
      border-style: solid;
      border-width: 2px;
      border-color: #868e96;
      color: #868e96; }
    .codeflow-button--secondary--flat {
      background-color: transparent;
      color: #868e96;
      border: none;
      box-shadow: none; }
    .codeflow-button--secondary--hover:active:not(:disabled) {
      box-shadow: 0 0 0 0.2rem rgba(134, 142, 150, 0.5); }
    .codeflow-button--secondary--hover:hover {
      color: #fff;
      background-color: #868e96;
      border-color: #868e96;
      box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.16); }
  .codeflow-button--danger {
    background-color: #dc3545;
    border-color: #dc3545;
    color: #fff; }
    .codeflow-button--danger--outline {
      background-color: transparent;
      font-weight: 700;
      border-style: solid;
      border-width: 2px;
      border-color: #dc3545;
      color: #dc3545; }
    .codeflow-button--danger--flat {
      background-color: transparent;
      color: #dc3545;
      border: none;
      box-shadow: none; }
    .codeflow-button--danger--hover:active:not(:disabled) {
      box-shadow: 0 0 0 0.2rem rgba(220, 53, 69, 0.5); }
    .codeflow-button--danger--hover:hover {
      color: #fff;
      background-color: #dc3545;
      border-color: #dc3545;
      box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.16); }
  .codeflow-button__content-box {
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1; }
  .codeflow-button__text {
    display: inline-flex;
    align-items: center;
    flex: 1; }
    .codeflow-button__text--loading {
      margin-left: 10px; }
    .codeflow-button__text--bold {
      font-weight: 700; }

.codeflow-breadcrumb {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  position: relative;
  font-size: 1rem; }
  .codeflow-breadcrumb__item {
    display: flex;
    justify-content: center;
    align-items: center; }
    .codeflow-breadcrumb__item:last-child .codeflow-breadcrumb__chevron {
      display: none; }

.codeflow-calendar {
  display: flex;
  flex-direction: column;
  height: 100%; }
  .codeflow-calendar__days {
    min-height: 7rem;
    display: flex;
    width: 100%;
    background: #fff;
    border-bottom: 1px solid #e0e0e0; }
  .codeflow-calendar__day-box {
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-bottom: 1rem; }
    .codeflow-calendar__day-box:not(:first-child) {
      border-left: 1px solid #e0e0e0; }
  .codeflow-calendar__day-month {
    font-size: 3rem; }
  .codeflow-calendar__day-week {
    font-size: 1.5rem; }
  .codeflow-calendar__times {
    background-color: #fff;
    overflow: auto;
    flex: 1;
    display: flex;
    flex-direction: column; }
  .codeflow-calendar__time-box {
    min-height: 7rem;
    display: flex;
    flex-direction: row;
    flex: 1; }
  .codeflow-calendar__time-label:first-child {
    visibility: hidden; }
  .codeflow-calendar__time-label {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    border-bottom: none;
    position: relative;
    top: -1rem; }
  .codeflow-calendar__event {
    border-left: 1px solid #e0e0e0;
    border-bottom: 1px solid #e0e0e0;
    min-height: 7rem;
    flex: 1; }
    .codeflow-calendar__event--busy {
      background-color: #ff5252; }
    .codeflow-calendar__event--free {
      background-color: #fff;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 1.2rem; }
    .codeflow-calendar__event--outofwork {
      background-color: #ccc; }
    .codeflow-calendar__event--yours {
      background-color: #007bff; }
  .codeflow-calendar__empty {
    margin: 2rem;
    width: 100%;
    text-align: center; }

@media (min-width: 801px) {
  .days {
    padding-right: 1.5rem; } }

.codeflow-checkbox {
  content: '';
  width: 1.5rem;
  height: 1.5rem;
  border: 1.5px solid #8a8a8a;
  border-radius: 1px;
  margin-top: 2px;
  transition: .2s;
  display: inline-block; }
  .codeflow-checkbox--checked {
    top: -4px;
    left: -3px;
    width: 12px;
    height: 22px;
    border-style: solid;
    border-width: 2px;
    transform: rotate(40deg);
    transform-origin: 100% 100%; }
  .codeflow-checkbox--primary.codeflow-checkbox--checked {
    border-color: transparent #2a9699 #2a9699 transparent; }
  .codeflow-checkbox--secondary.codeflow-checkbox--checked {
    border-color: transparent #868e96 #868e96 transparent; }
  .codeflow-checkbox--danger.codeflow-checkbox--checked {
    border-color: transparent #dc3545 #dc3545 transparent; }
  .codeflow-checkbox__label {
    margin-left: 10px; }

.codeflow-dropdown {
  min-width: 20rem;
  min-height: 3.5rem;
  position: relative; }
  .codeflow-dropdown--material {
    border: none;
    border-bottom: solid 1px #bdbdbd; }
  .codeflow-dropdown__button {
    position: absolute;
    display: flex;
    flex: 1;
    align-items: center;
    width: 100%;
    height: 100%; }
    .codeflow-dropdown__button--material {
      padding: 0;
      justify-content: space-between; }
    .codeflow-dropdown__button-text {
      flex: 1;
      display: flex;
      justify-content: center;
      align-items: center; }
      .codeflow-dropdown__button-text--material {
        justify-content: space-between;
        align-items: center;
        padding-bottom: 1.5rem; }
      .codeflow-dropdown__button-text::after {
        content: "";
        margin-left: .255em;
        border-top: .3em solid;
        border-right: .3em solid transparent;
        border-bottom: 0;
        border-left: .3em solid transparent; }
  .codeflow-dropdown__list {
    position: absolute;
    z-index: 2;
    width: 100%;
    top: 100%;
    left: 0;
    transform: translateY(0.5rem); }

.codeflow-form-item {
  padding: 7px 0; }
  .codeflow-form-item__label {
    max-width: 100%;
    text-transform: capitalize; }
    .codeflow-form-item__label--required::after {
      content: "*";
      color: #dc3545; }
  .codeflow-form-item__holder {
    margin-top: 6px; }
    .codeflow-form-item__holder--inline {
      display: inline-block; }
  .codeflow-form-item__validation {
    text-align: center;
    color: #E64040;
    font-size: 11px;
    margin: 2px 0 0 0; }

.hasError {
  border-color: #a94442;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075); }

.codeflow-header {
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  margin-bottom: 0.5rem;
  background-color: #fff;
  min-height: 5rem; }

.codeflow-list {
  background-color: #fff;
  background-clip: padding-box;
  border-radius: .25rem;
  min-height: 15rem;
  min-width: 10rem;
  padding: 0.8rem 0;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12); }

.codeflow-list-item {
  display: flex;
  flex-direction: row;
  flex: 1;
  align-items: center;
  min-height: 3.2rem;
  font-weight: 400;
  color: rgba(0, 0, 0, 0.54);
  padding: 0 1.5rem; }
  .codeflow-list-item__body {
    flex: 1; }
  .codeflow-list-item--selected {
    background-color: rgba(0, 0, 0, 0.08);
    color: rgba(0, 0, 0, 0.87); }
  .codeflow-list-item:hover {
    background-color: rgba(0, 0, 0, 0.08);
    color: rgba(0, 0, 0, 0.87);
    cursor: pointer; }
  .codeflow-list-item--primary {
    margin: 0 0.8rem;
    padding-top: 0.8rem;
    padding-bottom: 0.8rem;
    border-radius: 2px; }
    .codeflow-list-item--primary:hover, .codeflow-list-item--primary.codeflow-list-item--selected {
      box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.16), 0 4px 15px 0 rgba(0, 0, 0, 0.12);
      background-color: #2a9699;
      border-color: #2a9699;
      color: #fff; }
  .codeflow-list-item--secondary {
    margin: 0 0.8rem;
    padding-top: 0.8rem;
    padding-bottom: 0.8rem;
    border-radius: 2px; }
    .codeflow-list-item--secondary:hover, .codeflow-list-item--secondary.codeflow-list-item--selected {
      box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.16), 0 4px 15px 0 rgba(0, 0, 0, 0.12);
      background-color: #868e96;
      border-color: #868e96;
      color: #fff; }
  .codeflow-list-item--danger {
    margin: 0 0.8rem;
    padding-top: 0.8rem;
    padding-bottom: 0.8rem;
    border-radius: 2px; }
    .codeflow-list-item--danger:hover, .codeflow-list-item--danger.codeflow-list-item--selected {
      box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.16), 0 4px 15px 0 rgba(0, 0, 0, 0.12);
      background-color: #dc3545;
      border-color: #dc3545;
      color: #fff; }

.codeflow-list-master-detail {
  font-size: 1.6rem;
  display: flex;
  flex-direction: column;
  box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.2), 0px 2px 2px 0px rgba(0, 0, 0, 0.16), 0px 1px 5px 0px rgba(0, 0, 0, 0.12); }
  .codeflow-list-master-detail__title {
    height: 5.5rem;
    background-color: #f5f5f5;
    box-shadow: 0 -1px 0 rgba(0, 0, 0, 0.12) inset;
    padding-left: 2rem;
    display: flex;
    align-items: center;
    color: #000; }
  .codeflow-list-master-detail__breadcrumb-button {
    font-size: 1.6rem;
    color: rgba(0, 0, 0, 0.54); }
  .codeflow-list-master-detail__breadcrumb-icon {
    font-size: 2.4rem; }
  .codeflow-list-master-detail__columns {
    display: flex;
    flex-direction: row; }
  .codeflow-list-master-detail__column {
    display: flex;
    flex-direction: column;
    flex: 1;
    border-right: 1px solid #e0e0e0; }
  .codeflow-list-master-detail__column-title {
    display: flex;
    align-items: center;
    background-color: #f5f5f5;
    box-shadow: 0 -1px 0 rgba(0, 0, 0, 0.12) inset;
    height: 6rem;
    color: rgba(0, 0, 0, 0.87); }
  .codeflow-list-master-detail__column-text {
    display: flex;
    flex: 1;
    align-items: center; }
  .codeflow-list-master-detail__icon-box {
    width: 4rem;
    text-align: right;
    font-size: 1.6rem;
    margin-right: 1.5rem; }
  .codeflow-list-master-detail__column-title-trash {
    font-size: 1.6rem;
    margin-right: 0.5rem;
    color: rgba(0, 0, 0, 0.87); }
  .codeflow-list-master-detail__column-list {
    overflow: auto;
    height: 100%; }
  .codeflow-list-master-detail__column-add {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 0;
    height: 4.5rem;
    color: #2a9699;
    font-weight: 500;
    width: 100%;
    text-transform: uppercase; }
    .codeflow-list-master-detail__column-add:hover {
      background-color: #d0f1f2;
      color: #2a9699; }
  .codeflow-list-master-detail__column-item {
    padding-left: 5.5rem; }

.codeflow-loading-modal__body {
  display: flex;
  flex-direction: row;
  flex: 1;
  align-items: center;
  min-width: 20rem;
  padding: 2rem !important; }

.codeflow-loading-modal__spinner {
  width: 6rem; }

.codeflow-loading-modal__text {
  display: flex;
  flex: 1;
  font-weight: 700; }

.codeflow-overlay {
  background-color: rgba(0, 0, 0, 0.65);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0; }
  .codeflow-overlay--hide {
    background-color: transparent; }

.codeflow-modal {
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  position: absolute;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 45px, rgba(0, 0, 0, 0.22) 0px 10px 18px;
  border-radius: 2px;
  border-color: transparent;
  animation: slideDownCenter 0.5s cubic-bezier(0.165, 0.84, 0.44, 1) forwards; }
  .codeflow-modal__panel {
    width: 100%;
    height: 100%; }
  .codeflow-modal:focus {
    outline: none; }
  .codeflow-modal__title {
    display: flex;
    align-items: center;
    flex: 1; }
  .codeflow-modal__title-close-button {
    font-size: 1.5rem; }
  .codeflow-modal__title-icon {
    margin-right: 0.8rem; }
  .codeflow-modal__title-box {
    display: flex;
    flex-direction: row;
    flex: 1;
    align-items: center; }
  .codeflow-modal__body {
    padding: 1.5rem;
    padding-top: 0;
    color: rgba(0, 0, 0, 0.87);
    overflow: auto;
    height: 100%;
    width: 100%; }
  .codeflow-modal--default {
    left: 50%;
    top: 200px;
    transform: translateX(-50%); }
  .codeflow-modal--center {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); }
  .codeflow-modal--top {
    top: 0;
    left: 0;
    width: 100%;
    animation: slideDown 0.5s cubic-bezier(0.165, 0.84, 0.44, 1) forwards; }
  .codeflow-modal--right {
    right: 0;
    top: 0;
    height: 100%;
    animation: slideLeft 0.5s cubic-bezier(0.165, 0.84, 0.44, 1) forwards; }
  .codeflow-modal--bottom {
    bottom: 0;
    left: 0;
    width: 100%;
    animation: slideUp 0.5s cubic-bezier(0.165, 0.84, 0.44, 1) forwards; }
  .codeflow-modal--left {
    left: 0;
    top: 0;
    height: 100%;
    animation: slideRight 0.5s cubic-bezier(0.165, 0.84, 0.44, 1) forwards; }

@keyframes slideLeft {
  0% {
    transform: translateX(100%); }
  100% {
    transform: translateX(0%); } }

@keyframes slideRight {
  0% {
    transform: translateX(-100%); }
  100% {
    transform: translateX(0%); } }

@keyframes slideUp {
  0% {
    transform: translateY(100%); }
  100% {
    transform: translateY(0%); } }

@keyframes slideDown {
  0% {
    transform: translateY(-100%); }
  100% {
    transform: translateY(0%); } }

@keyframes slideDownCenter {
  0% {
    top: 0;
    transform: translate(-50%, -100%); }
  100% {
    top: 10%;
    transform: translate(-50%, 0); } }

.codeflow-page {
  background-color: #fff;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  border-radius: 5px; }

.codeflow-panel {
  display: flex;
  flex-direction: column;
  min-height: 8rem; }
  .codeflow-panel--float {
    padding: 2rem; }
    .codeflow-panel--float .codeflow-panel__title {
      height: 6rem;
      box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15);
      position: relative;
      margin-top: -4rem; }
  .codeflow-panel__title {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    color: #000;
    font-size: 2.4rem;
    font-weight: 700;
    padding: 0.8rem; }
    .codeflow-panel__title--primary {
      background-color: #2a9699;
      color: #fff; }
    .codeflow-panel__title--secondary {
      background-color: #868e96;
      color: #fff; }
    .codeflow-panel__title--danger {
      background-color: #dc3545;
      color: #fff; }
  .codeflow-panel__body {
    padding: 0.8rem;
    width: 100%;
    height: 100%;
    overflow: auto; }
  .codeflow-panel__footer {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    padding: 1.5rem;
    border-top: 1px solid #e9ecef; }

.codeflow-loader {
  margin: 0;
  padding: 0;
  display: inline-block;
  overflow: hidden;
  font-size: 1rem;
  position: relative;
  text-indent: -9999em;
  border-width: 1.1em;
  border-style: solid;
  transform: translateZ(0);
  animation: codeflow-loader_load8 1.1s infinite linear; }
  .codeflow-loader--primary {
    border-color: #d0f1f2;
    border-left-color: #2a9699; }
  .codeflow-loader--secondary {
    border-color: #f3f4f5;
    border-left-color: #868e96; }
  .codeflow-loader--danger {
    border-color: #fae3e5;
    border-left-color: #dc3545; }
  .codeflow-loader, .codeflow-loader:after {
    border-radius: 50%;
    width: 10em;
    height: 10em; }

@-webkit-keyframes codeflow-loader_load8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg); } }

@keyframes codeflow-loader_load8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg); } }

.codeflow-material-input {
  width: 100%;
  border: none !important;
  padding: 0.8rem 0 !important;
  border-bottom: solid 1px #bdbdbd !important; }
  .codeflow-material-input:focus {
    box-shadow: none;
    outline: none;
    border-width: 2px;
    border-color: #35bdc1 !important; }

.codeflow-widget {
  background-color: #fff;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  border-radius: 5px;
  padding: 0.8rem;
  min-height: 7rem;
  margin-top: 2rem;
  width: 25rem; }
  .codeflow-widget__title {
    display: flex;
    flex-direction: row; }
    .codeflow-widget__title-icon {
      font-size: 2rem;
      color: white;
      border-radius: 4px;
      margin: -30px 10px 0 0;
      padding: 8px 16px;
      width: 8rem;
      height: 8rem;
      position: relative;
      background-color: #4285f4;
      box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.12), 0 6px 20px 0 rgba(0, 0, 0, 0.12);
      display: flex;
      align-items: center;
      justify-content: center; }
      .codeflow-widget__title-icon--primary {
        background-color: #2a9699; }
      .codeflow-widget__title-icon--secondary {
        background-color: #868e96; }
      .codeflow-widget__title-icon--danger {
        background-color: #dc3545; }
    .codeflow-widget__title-text {
      display: flex;
      flex: 1;
      flex-direction: column;
      justify-content: space-between; }
      .codeflow-widget__title-text--label {
        text-align: right; }
      .codeflow-widget__title-text--value {
        text-align: right; }

* {
  box-sizing: border-box; }
